@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #333;
	background-color: #f5f6f7;
}

.mantine-Carousel-control {
    background-color: white;
}

.title {
    @apply text-5xl font-semibold mb-4;
}

.title_md {
    @apply text-3xl mb-2 text-center;
}
